.spacer {
  flex: 1 1 auto;
}
.superspacer {
  flex: 1 1 450px;
}
.endspacer {
  flex: 1 1 200px;
}
mat-toolbar {
  width: 100%;
  z-index: 1000;
  color: #ccc;
  background-color: #222;
}
mat-accordion {
  top: 0;
  width: 100%;
  z-index: 900;
}
.navDropDown {
  margin-top: 5px;
  font-size: medium;
}

mat-toolbar ::ng-deep .mat-form-field-underline {
  display: none;
}

mat-toolbar ::ng-deep .mat-select-arrow {
  border-top: 5px solid #0099dd !important;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-column-gap: 10px;
}

.item1 {
  grid-column: 1 1;
}
.item2 {
  grid-column: 2 2;
}

.downloadBtn {
  min-width: 116px;
  margin-right: 10px;
  background-color: #0099dd;
  color: #fff;
}
.downloadBtn:disabled {
  margin-right: 10px;
  background-color: #009bdd67;
  color: rgba(255, 255, 255, 0.63);
}

.inputBox {
  font-size: medium;
  border: none;
  background-color: #222;
  color: #fff;
}
.inputBox:hover {
  outline: 1px solid #ccc;
  background-color: #222;
  color: #fff;
}
.inputBox:focus {
  outline: none;
  border: 1px solid #fff;
  background-color: #222;
  color: #fff;
}
