.spacer {
  flex: 1 1 auto;
}
.superspacer {
    flex: 1 1 450px;
  }
mat-toolbar {
  width: 100%;
  z-index: 1000;
  color: #fff;
  background-color: #009ddc;
}
mat-accordion{
    top: 0;
    width: 100%;
    z-index: 900;
}
.navDropDown{
    margin-top: 5px;
    font-size: medium;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-column-gap: 10px;
}

.item1{
    grid-column: 1 1;
}
.item2{
    grid-column: 2 2;
}

.navbar{
    padding: 10px;
}

