<mat-toolbar class="navbar">
    <mat-toolbar-row>
        <span><img style="transform: scale(0.8);"
                src="assets\isaac-primary-logo-invert-rgb-transparent-250px.png"></span>
        <h1> StyleUML</h1>
        <a target="_blank"
            href="https://plantuml-documentation.readthedocs.io/en/latest/diagrams/sequence.html#sequence-diagram"
            hidden #syntax></a>
        <button matTooltip="Sequence-diagram Styler for PlantUML" (click)="syntax.click()" mat-icon-button>
            <i style="transform: rotate(180deg);" class="material-icons">error_outline</i>
        </button>
        <span class="spacer"></span>
        <mat-label style="margin-right: 10px; transform: scale(0.7);">Theme</mat-label>
        <mat-form-field (click)="util.openEditor = false;" class="navDropDown" style="width: 100px; color: white;">
            <mat-select #selecttheme id="selecttheme" [(value)]="generate.selectedTheme"
                (selectionChange)="activateTheme()">
                <mat-option id="{{theme}}" *ngFor="let theme of generate.themes" [value]="theme">
                    {{theme}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <span class="superspacer"></span>
        <mat-label style="margin-right: 10px; transform: scale(0.7);">Server</mat-label>
        <mat-form-field class="navDropDown" style="width: 305px; color: white;">
            <input matInput #envBox (click)="Select(envBox);" type="text" (change)="setEnvironment(envBox.value)"
              [ngModel]="getEnvironment()">
        </mat-form-field>
        <span class="spacer"></span>
        <span class="spacer"></span>
        <button style="margin-right: 10px; background-color: #0099dd; color: #fff;" (click)="download()" matTooltip="Download .zip file" mat-raised-button>
            Download<i style="transform: translateX(10px);" class="material-icons">get_app</i>
        </button>
        <mat-spinner diameter="50" *ngIf="isLoading"></mat-spinner>
        <span class="spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>