.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-column-gap: 10px;
}

.editor {
  overflow: hidden;
  height: 320px;
  font-family: "Open Sans";
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #009ddc;
  transition: height ease-in-out 0.2s;
}

.noHeight {
  height: 0px;
}

.exitBtn {
  float: right;
}
