<div style="width: 100%; background-color: #ebebeb; height: 10px;"></div>
<button (click)="jsons.click()" matTooltip="Import .zip, .json, .txt, .puml file"
    style="background-color: #fff; position: absolute; z-index: 5; right: 22px; " mat-mini-fab>
    <i style="color: #0099dd;" class="material-icons">add</i>
</button>
<ace #aceComp [config]="config" (change)="generate.generateSVG(tA.value)" (keyup)="generate.generateSVG(tA.value)"
    id="tA" #tA class="coding" [(value)]="generate.text"></ace>
<input hidden #jsons id="jsonInput" type="file" accept=".zip, .json,.puml,.txt" (change)="fileChanged($event)"
    value="Json">