div.right {
  position: relative;
  float: right;
  margin-right: 40%;
}
@media screen and (min-width: 1400px) and (max-width: 1900px) {
  div.right {
    position: relative;
    float: right;
    margin-right: 20%;
  }
}

@media (max-width: 1400px) {
  div.right {
    position: relative;
    float: right;
    margin-right: 0%;
  }
}

#scrollbar1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: #ffffff;
}

#scrollbar1::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #ffffff;
}

#scrollbar1::-webkit-scrollbar-thumb {
  background-color: #009edc;
}
#scrollbar2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: #ffffff;
}

#scrollbar2::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #ffffff;
}

#scrollbar2::-webkit-scrollbar-thumb {
  background-color: #009edc;
}

.card {
  width: 360px;
  margin: 8px;
}

.resetBtn{
  position: relative;
  margin-top: 15%;
  z-index: 1;
}

.diagram {
  max-width: 1500px;
  max-height: 900px;
  overflow: auto;
  margin: 8px;
  box-shadow: none;
}

.inputHover:hover {
  border: 1px solid lightblue;
}
.inputHoverColor:hover {
  border: 2px solid lightblue;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Tahoma, "Helvetica Neue", sans-serif;
}

.mat-mini-fab {
  background-color: #009ddc;
  color: #ffffff;
}

.accordionbtn:hover {
  background: rgba(0, 0, 0, 0.04);
}
.accordionbtn {
  text-align: left;
  font-style: normal;
  font-family: Tahoma, "Helvetica Neue", sans-serif;
  width: 100%;
  height: 48px;
}
mat-form-field{
  width: 100%;
}

.example-header-image {
  background-image: url("../../../assets/isaac-icon-logo-rgb-250px.png");
  background-size: cover;
}

.coding {
  font-family: Consolas, "Courier New", monospace;
  width: 100%;
  height: 500px;
}
