<div fxLayout="row " fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left stretch"
    fxLayoutAlign.xs="center" class="locationMiddle">
    <ng-container>
        <mat-card id="appCard" class="card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Style UML</mat-card-title>
                <mat-card-subtitle>Sequence Diagram Styler</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-accordion id="scrollbar1">
                    <!--Text-->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header (click)="reduceTextarea()">
                            <mat-panel-title id="textAccordion">
                                Text
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <ace #aceComp [config]="config" (keyup)="generate.generateSVG(tA.value)" id="tA" #tA
                            class="coding" [(value)]="generate.text"></ace>
                        <a target="_blank"
                            href="https://plantuml-documentation.readthedocs.io/en/latest/diagrams/sequence.html">
                            <button matTooltip="Go to the PlantUML syntax explanation page" mat-icon-button
                                color="primary">
                                Syntax <i class="material-icons">
                                    launch
                                </i>
                            </button>
                        </a>
                        <button *ngIf="!generate.isLarge" style="float: right;" (click)="openTextDialog()"
                            matTooltip="Enlarge textarea for easier coding" mat-icon-button color="primary">
                            <i class="material-icons">
                                zoom_out_map
                            </i>
                        </button>
                        <button *ngIf="generate.isLarge" style="float: right;" (click)="openTextDialog()"
                            matTooltip="Reduce textarea for easier styling" mat-icon-button color="primary">
                            <i class="material-icons">
                                arrow_back
                            </i>
                        </button>
                    </mat-expansion-panel>
                    <!--Import-->
                    <mat-expansion-panel (click)="reduceTextarea()" [(expanded)]="isOpen">
                        <mat-expansion-panel-header>
                            <mat-panel-title id="importAccordion">
                                Import
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ngx-file-drop style="border-color: #009ddc;" dropZoneLabel="Drop files here"
                            (onFileDrop)="dropped($event)" (click)="jsons.click()">
                            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                                <span style="text-align: center;">Upload file<br>
                                    Accepts: .zip, .json, .txt, .puml</span>
                            </ng-template>
                        </ngx-file-drop>
                        <input hidden #jsons id="jsonInput" type="file" accept=".zip, .json,.puml,.txt"
                            (change)="fileChanged($event)" value="Json">
                    </mat-expansion-panel>
                    <!--Themes-->
                    <mat-expansion-panel (click)="reduceTextarea()">
                        <mat-expansion-panel-header>
                            <mat-panel-title id="themesAccordion">
                                Themes
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <span>
                            <mat-slide-toggle #usetheme id="usetheme" *ngIf="generate.isThemed" color="primary"
                                class="example-margin" [(ngModel)]="generate.isThemed"
                                (change)="generate.generateSVG(tA.value);">Use
                                theme
                            </mat-slide-toggle>
                            <mat-slide-toggle #notheme id="notheme" *ngIf="!generate.isThemed" color="primary"
                                class="example-margin" [(ngModel)]="generate.isThemed"
                                (change)="generate.generateSVG(tA.value);">No theme
                            </mat-slide-toggle>
                            <br><br>
                            <mat-form-field style="width:70%;">
                                <mat-label>Theme</mat-label>
                                <mat-select #selecttheme [disabled]="!generate.isThemed" id="selecttheme"
                                    [(value)]="generate.selectedTheme"
                                    (selectionChange)="generate.generateSVG(tA.value);">
                                    <mat-option id="{{theme}}" *ngFor="let theme of generate.themes" [value]="theme">
                                        {{theme}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <button style="float: right;" (click)="editTheme()" mat-mini-fab color="primary"><i
                                    class="material-icons">edit</i></button>
                            <br>
                        </span>
                    </mat-expansion-panel>
                    <!--Styling-->
                    <mat-expansion-panel (click)="reduceTextarea()" [disabled]="generate.isThemed">
                        <mat-expansion-panel-header>
                            <mat-panel-title id="stylingAccordion">
                                Styling
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-form-field>
                            <mat-label>Shape</mat-label>
                            <mat-select [(value)]="generate.selectedShape"
                                (selectionChange)="generate.generateSVG(tA.value)">
                                <mat-option *ngFor="let shape of generate.shapes" [value]="shape">
                                    {{shape}}
                                </mat-option>
                                <mat-option (click)="img.click();generate.generateSVG(tA.value);" [value]="'Images'">
                                    Images
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-slide-toggle *ngIf="generate.selectedShape=='Images' && generate.textImages"
                            color="primary" class="example-margin" [(ngModel)]="generate.textImages"
                            (change)="generate.generateSVG(tA.value)">With text
                        </mat-slide-toggle>
                        <mat-slide-toggle *ngIf="generate.selectedShape=='Images' && !generate.textImages"
                            color="primary" class="example-margin" [(ngModel)]="generate.textImages"
                            (change)="generate.generateSVG(tA.value)">No text
                        </mat-slide-toggle>
                        <mat-form-field>
                            <mat-label>Numbers</mat-label>
                            <mat-select id="NumberSelect" [(value)]="generate.selectedNumber"
                                (selectionChange)="generate.generateSVG(tA.value)">
                                <mat-option id="{{number}}" *ngFor="let number of generate.autonumber" [value]="number">
                                    {{number}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Actors</mat-label>
                            <mat-select [disabled]="!generate.text.toLowerCase().includes('actor ')"
                                [(value)]="generate.selectedActor" (selectionChange)="generate.generateSVG(tA.value)">
                                <mat-option *ngFor="let actor of generate.actors" [value]="actor">
                                    {{actor}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Breaks</mat-label>
                            <mat-select id="BreakSelect" [disabled]="!generate.text.includes('...')"
                                [(value)]="generate.selectedBreak" (selectionChange)="generate.generateSVG(tA.value)">
                                <mat-option id="{{break}}" *ngFor="let break of generate.breaks" [value]="break">
                                    {{break}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Participant padding</mat-label>
                            <input matInput type="number" min="0" max="500" placeholder="0"
                                [(ngModel)]="generate.participantpadding" (change)="generate.generateSVG(tA.value)">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Border width</mat-label>
                            <input matInput type="number" min="0" max="15" placeholder="0" step="0.5"
                                [(ngModel)]="generate.participantstroke" (change)="generate.generateSVG(tA.value)">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Line width</mat-label>
                            <input matInput type="number" min="0" max="4" placeholder="0" step="0.5"
                                [(ngModel)]="generate.lineThickness" (change)="generate.generateSVG(tA.value)">
                        </mat-form-field>
                        <section class="example-section">
                            <mat-slide-toggle [disabled]="!generate.text.includes('note ')" color="primary"
                                class="example-margin" [(ngModel)]="generate.hiddenNotes"
                                (change)="generate.generateSVG(tA.value);">
                                Notes
                            </mat-slide-toggle>
                            <br>
                            <mat-slide-toggle color="primary" class="example-margin" [(ngModel)]="generate.footnotes"
                                (change)="generate.generateSVG(tA.value)">Footboxes
                            </mat-slide-toggle>
                            <br>
                            <mat-slide-toggle color="primary" class="example-margin"
                                [(ngModel)]="generate.hiddenShadows" (change)="generate.generateSVG(tA.value)">
                                Backdrop
                                shadows
                            </mat-slide-toggle>
                            <mat-slide-toggle color="primary" class="example-margin" [(ngModel)]="generate.multi"
                                (change)="generate.generateSVG(tA.value)">
                                Multi participants
                            </mat-slide-toggle>
                        </section>
                        <input hidden #img id="img" type="file" accept="image/*" (change)="setImage(img, tA.value)"
                            value="Image">
                    </mat-expansion-panel>
                    <!--Colors-->
                    <mat-expansion-panel (click)="reduceTextarea()" [disabled]="generate.isThemed">
                        <mat-expansion-panel-header>
                            <mat-panel-title id="colorsAccordion">
                                Colors
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <table>
                            <tr>
                                <td style="width: 50%;">
                                    Backgrounds
                                </td>
                                <td style="width: 25%;">
                                    <input matInput id="color2input" class="inputHover"
                                        (change)="generate.setColors(null)" type="text" [(ngModel)]="generate.color2" />
                                </td>
                                <td></td>
                                <td style="width: 35%;">
                                    <input type="button" [cpPresetColors]="['#fff']" [cpAddColorButton]="true"
                                        style="width: 100%;" id="secondary" class="inputHoverColor"
                                        [style.background]="generate.color2" [(colorPicker)]="generate.color2"
                                        (colorPickerChange)="generate.setColors(null)" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">
                                    Borders
                                </td>
                                <td style="width: 25%;">
                                    <input matInput id="color1input" class="inputHover"
                                        (change)="generate.setColors(null)" type="text" [(ngModel)]="generate.color1" />
                                </td>
                                <td></td>
                                <td style="width: 35%;">
                                    <input type="button" [cpPresetColors]="['#fff']" [cpAddColorButton]="true"
                                        style="width: 100%;" id="primary" class="inputHoverColor"
                                        [style.background]="generate.color1" [(colorPicker)]="generate.color1"
                                        (colorPickerChange)="generate.setColors(null)" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">
                                    Box background
                                </td>
                                <td style="width: 25%;">
                                    <input matInput id="color9input" class="inputHover"
                                        (change)="generate.setColors(null)" type="text"
                                        [(ngModel)]="generate.colorBoxBack" />
                                </td>
                                <td></td>
                                <td style="width: 35%;">
                                    <input type="button" [cpPresetColors]="['#fff']" [cpAddColorButton]="true"
                                        style="width: 100%;" id="text" class="inputHoverColor"
                                        [style.background]="generate.colorBoxBack"
                                        [(colorPicker)]="generate.colorBoxBack"
                                        (colorPickerChange)="generate.setColors(null)" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">
                                    Box border
                                </td>
                                <td style="width: 25%;">
                                    <input matInput id="color9input" class="inputHover"
                                        (change)="generate.setColors(null)" type="text"
                                        [(ngModel)]="generate.colorBoxStroke" />
                                </td>
                                <td></td>
                                <td style="width: 35%;">
                                    <input type="button" [cpPresetColors]="['#fff']" [cpAddColorButton]="true"
                                        style="width: 100%;" id="text" class="inputHoverColor"
                                        [style.background]="generate.colorBoxStroke"
                                        [(colorPicker)]="generate.colorBoxStroke"
                                        (colorPickerChange)="generate.setColors(null)" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">
                                    Lines
                                </td>
                                <td style="width: 25%;">
                                    <input matInput id="color6input" class="inputHover"
                                        (change)="generate.setColors(null)" type="text" [(ngModel)]="generate.color6" />
                                </td>
                                <td></td>
                                <td style="width: 35%;">
                                    <input type="button" [cpPresetColors]="['#fff']" [cpAddColorButton]="true"
                                        style="width: 100%;" id="text" class="inputHoverColor"
                                        [style.background]="generate.color6" [(colorPicker)]="generate.color6"
                                        (colorPickerChange)="generate.setColors(null)" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">
                                    Note backgrounds
                                </td>
                                <td style="width: 25%;">
                                    <input matInput id="color3input" class="inputHover"
                                        (change)="generate.setColors(null)" type="text" [(ngModel)]="generate.color3" />
                                </td>
                                <td></td>
                                <td style="width: 35%;">
                                    <input type="button" [cpPresetColors]="['#fff']" [cpAddColorButton]="true"
                                        style="width: 100%;" id="tertiary" class="inputHoverColor"
                                        [style.background]="generate.color3" [(colorPicker)]="generate.color3"
                                        (colorPickerChange)="generate.setColors(null)" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">
                                    Note borders
                                </td>
                                <td style="width: 25%;">
                                    <input matInput id="color4input" class="inputHover"
                                        (change)="generate.setColors(null)" type="text" [(ngModel)]="generate.color4" />
                                </td>
                                <td></td>
                                <td style="width: 35%;">
                                    <input type="button" [cpPresetColors]="['#fff']" [cpAddColorButton]="true"
                                        style="width: 100%;" id="quaternary" [style.background]="generate.color4"
                                        class="inputHoverColor" [(colorPicker)]="generate.color4"
                                        (colorPickerChange)="generate.setColors(null)" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">
                                    Number background
                                </td>
                                <td style="width: 25%;">
                                    <input matInput id="color8input" class="inputHover"
                                        (change)="generate.setColors(null)" type="text" [(ngModel)]="generate.color8" />
                                </td>
                                <td></td>
                                <td style="width: 35%;">
                                    <input type="button" [cpPresetColors]="['#fff']" [cpAddColorButton]="true"
                                        style="width: 100%;" id="text" class="inputHoverColor"
                                        [style.background]="generate.color8" [(colorPicker)]="generate.color8"
                                        (colorPickerChange)="generate.setColors(null)" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">
                                    Number border
                                </td>
                                <td style="width: 25%;">
                                    <input matInput id="color7input" class="inputHover"
                                        (change)="generate.setColors(null)" type="text" [(ngModel)]="generate.color7" />
                                </td>
                                <td></td>
                                <td style="width: 35%;">
                                    <input type="button" [cpPresetColors]="['#fff']" [cpAddColorButton]="true"
                                        style="width: 100%;" id="text" class="inputHoverColor"
                                        [style.background]="generate.color7" [(colorPicker)]="generate.color7"
                                        (colorPickerChange)="generate.setColors(null)" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">
                                    Number text
                                </td>
                                <td style="width: 25%;">
                                    <input matInput id="color9input" class="inputHover"
                                        (change)="generate.setColors(null)" type="text" [(ngModel)]="generate.color9" />
                                </td>
                                <td></td>
                                <td style="width: 35%;">
                                    <input type="button" [cpPresetColors]="['#fff']" [cpAddColorButton]="true"
                                        style="width: 100%;" id="text" class="inputHoverColor"
                                        [style.background]="generate.color9" [(colorPicker)]="generate.color9"
                                        (colorPickerChange)="generate.setColors(null)" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">
                                    Text color
                                </td>
                                <td style="width: 25%;">
                                    <input matInput id="color5input" class="inputHover"
                                        (change)="generate.setColors(null)" type="text" [(ngModel)]="generate.color5" />
                                </td>
                                <td></td>
                                <td style="width: 35%;">
                                    <input type="button" [cpPresetColors]="['#fff']" [cpAddColorButton]="true"
                                        style="width: 100%;" id="text" class="inputHoverColor"
                                        [style.background]="generate.color5" [(colorPicker)]="generate.color5"
                                        (colorPickerChange)="generate.setColors(null)" />
                                </td>
                            </tr>
                        </table>
                    </mat-expansion-panel>
                    <!--Multi participants-->
                    <mat-expansion-panel *ngIf="generate.multi" [expanded]="generate.multi" (click)="reduceTextarea()"
                        [disabled]="generate.isThemed">
                        <mat-expansion-panel-header>
                            <mat-panel-title id="multiColorsAccordion">
                                Multi participants
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-form-field>
                            <mat-label>Participant</mat-label>
                            <mat-select [(value)]="generate.selectedParticipant"
                            (selectionChange)="generate.getShapeByName(generate.selectedParticipant.key)">
                                <mat-option *ngFor="let participant of generate.participants | keyvalue"
                                    [value]="participant">
                                    {{participant.key}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <table *ngIf="generate.selectedParticipant">
                            <tr>
                                <td style="width: 50%;">
                                    Border
                                </td>
                                <td style="width: 25%;">
                                    <input matInput id="color1input" class="inputHover"
                                        (change)="generate.setMultiColors(generate.selectedParticipant.value,generate.selectedParticipant.key,generate.selectedParticipant.value[0].style.stroke,null,null)"
                                        type="text" [(ngModel)]="generate.selectedParticipant.value[0].style.stroke" />
                                </td>
                                <td></td>
                                <td style="width: 35%;">
                                    <input type="button" [cpPresetColors]="['#fff']" [cpAddColorButton]="true"
                                        style="width: 100%;" id="primary" class="inputHoverColor"
                                        [style.background]="generate.selectedParticipant.value[0].style.stroke"
                                        [(colorPicker)]="generate.selectedParticipant.value[0].style.stroke"
                                        (colorPickerChange)="generate.setMultiColors(generate.selectedParticipant.value,generate.selectedParticipant.key,generate.selectedParticipant.value[0].style.stroke,null,null)" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">
                                    Background
                                </td>
                                <td style="width: 25%;">
                                    <input matInput id="color1input" class="inputHover"
                                        (change)="generate.setMultiColors(generate.selectedParticipant.value,generate.selectedParticipant.key, null,generate.selectedParticipant.value[0].style.fill,null)"
                                        type="text" [(ngModel)]="generate.selectedParticipant.value[0].style.fill" />
                                </td>
                                <td></td>
                                <td style="width: 35%;">
                                    <input type="button" [cpPresetColors]="['#fff']" [cpAddColorButton]="true"
                                        style="width: 100%;" id="primary" class="inputHoverColor"
                                        [style.background]="generate.selectedParticipant.value[0].style.fill"
                                        [(colorPicker)]="generate.selectedParticipant.value[0].style.fill"
                                        (colorPickerChange)="generate.setMultiColors(generate.selectedParticipant.value,generate.selectedParticipant.key, null,generate.selectedParticipant.value[0].style.fill,null)" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">
                                    Text
                                </td>
                                <td style="width: 25%;">
                                    <input matInput id="color1input" class="inputHover"
                                        (change)="generate.setMultiColors(generate.selectedParticipant.value,generate.selectedParticipant.key, null,null,generate.selectedParticipant.value[1].style.fill)"
                                        type="text" [(ngModel)]="generate.selectedParticipant.value[1].style.fill" />
                                </td>
                                <td></td>
                                <td style="width: 35%;">
                                    <input type="button" [cpPresetColors]="['#fff']" [cpAddColorButton]="true"
                                        style="width: 100%;" id="primary" class="inputHoverColor"
                                        [style.background]="generate.selectedParticipant.value[1].style.fill"
                                        [(colorPicker)]="generate.selectedParticipant.value[1].style.fill"
                                        (colorPickerChange)="generate.setMultiColors(generate.selectedParticipant.value, generate.selectedParticipant.key, null,null,generate.selectedParticipant.value[1].style.fill)" />
                                </td>
                            </tr>
                            <tr>
                                <mat-form-field>
                                    <mat-label>Shape</mat-label>
                                    <mat-select [(value)]="generate.parshape"
                                        (selectionChange)="generate.setShapes(generate.selectedParticipant.key, generate.parshape);generate.generateSVG(tA.value);">
                                        <mat-option *ngFor="let shape of generate.shapes" [value]="shape">
                                            {{shape}}
                                        </mat-option>
                                        <mat-option (click)="participantimg.click();" [value]="'Images'">
                                            Images
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </tr>
                        </table>
                        <input hidden #participantimg id="parimg" type="file" accept="image/*"
                            (change)="generate.setParticipantImage(participantimg.files[0],generate.selectedParticipant.key)"
                            value="Image">
                    </mat-expansion-panel>
                    <!--Fonts-->
                    <mat-expansion-panel (click)="reduceTextarea()" [disabled]="generate.isThemed">
                        <mat-expansion-panel-header>
                            <mat-panel-title id="fontsAccordion">
                                Fonts
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-form-field>
                            <mat-label>Font</mat-label>
                            <mat-select [(value)]="generate.selectedFont"
                                (selectionChange)="generate.generateSVG(tA.value)">
                                <mat-option [value]="'Tahoma'">
                                    Tahoma
                                </mat-option>
                                <mat-option *ngFor="let font of generate.fonts" [value]="font.family">
                                    {{font.family}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Participant font size
                            </mat-label>
                            <input matInput type="number" min="1" max="40" placeholder="0"
                                [(ngModel)]="generate.participantfontsize" (change)="generate.generateSVG(tA.value)">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Diagram font size</mat-label>
                            <input matInput type="number" min="1" max="40" placeholder="0"
                                [(ngModel)]="generate.sequencetextsize" (change)="generate.generateSVG(tA.value)">
                        </mat-form-field>
                    </mat-expansion-panel>
                </mat-accordion>
                <br>
                <button mat-raised-button class="mat-expansion-panel-header accordionbtn" (click)="download()"><span
                        style="margin-left: 9px;">Download</span><i
                        style="float: right;  transform: translate(0px, 6px); color: rgb(129, 126, 126);"
                        class="material-icons">get_app</i>
                </button>
                <br>
                <br>
                <mat-spinner *ngIf="isLoading" style="position: relative; left: 40%;"></mat-spinner>
            </mat-card-content>
            <mat-card-actions>
                <button style="float: right;" (click)="closeApp()" matTooltip="Collapse app" mat-icon-button
                    color="primary">
                    <i class="material-icons">
                        arrow_back
                    </i>
                </button>
            </mat-card-actions>
        </mat-card>
        <button class="resetBtn" matTooltip="Open app" *ngIf="generate.isSmall" mat-mini-fab (click)="reduceTextarea()"
            color="primary"><i class="material-icons">arrow_forward</i></button>
        <mat-card id="scrollbar2" class="diagram">
            <mat-card-header>
                <mat-card-title>Diagram</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div [innerHTML]="generate.svg | trustHtml"></div>
            </mat-card-content>
        </mat-card>
    </ng-container>
</div>