div.right {
  position: relative;
  float: right;
  margin-right: 40%;
}
@media screen and (min-width: 1400px) and (max-width:1900px) {
    div.right {
      position: relative;
      float: right;
      margin-right: 20%;
    }
  }
  
@media (max-width: 1400px) {
  div.right {
    position: relative;
    float: right;
    margin-right: 0%;
  }
}
.card {
  max-width: 900px;
  margin: 8px;
}

.diagram {
  margin: 8px;
}
