<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center stretch"
    fxLayoutAlign.xs="center" class="locationMiddle">
    <ng-container>
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Style UML</mat-card-title>
                <mat-card-subtitle>Sequence diagram styler</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field style="width: 100%">
                    <textarea #tA matInput style="width: 100%" rows="20" (keyup)="generateSvg(tA.value)"
                        placeholder="Plant uml code">Bob->Alice : hello</textarea>
                </mat-form-field>
                <div>
                    <input matInput id="primary" #first type="color" value="#A80036"
                        (click)="colorChange('primary', first.value)" (change)="colorChange('primary', first.value)">
                    {{first.value}}
                    primary color, used for borders and lines
                    <input matInput id="secondary" #second type="color" value="#FEFECE"
                        (click)="colorChange('secondary', second.value)"
                        (change)="colorChange('secondary', second.value)">
                    {{second.value}}
                    secondary color, used for backgrounds
                    <input matInput id="tertiary" #third type="color" value="#fbfb77"
                        (click)="colorChange('tertiary', third.value)" (change)="colorChange('tertiary', third.value)">
                    {{third.value}}
                    tertiary color, used for notes
                    <input matInput id="quaternary" #fourth type="color" value="#3a3a3a"
                        (click)="colorChange('quaternary', fourth.value)"
                        (change)="colorChange('quaternary', fourth.value)">
                    {{fourth.value}}
                    quaternary color, used for note borders
                    <input matInput id="text" #fifth type="color" value="#000000"
                        (click)="colorChange('text', fifth.value)" (change)="colorChange('text', fifth.value)">
                    {{fifth.value}}
                    text color
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="download()">download as png</button>
                <button mat-raised-button (click)="isaacStyle()">ISAAC style</button>
                <button mat-raised-button (click)="toRounded(tA.value)">Rounded corners</button>
                <button mat-raised-button (click)="toCircles(tA.value)">Circles</button>
                <button mat-raised-button (click)="toEllipse(tA.value)">Ellipses</button>
                <button mat-raised-button (click)="toRectangle()">Rectangles</button>
                &nbsp;
                <label class="buttonClass" for="img">Images</label>
                <input hidden #img id="img" type="file" accept="image/*" (change)="toImage(img, tA.value)"
                    value="Image"><br><br>
                <!-- <section > -->
                <mat-checkbox color="primary" class="example-margin" (change)="changeHidden(tA.value)">hide notes
                </mat-checkbox>
                <!-- </section> -->


            </mat-card-actions>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Diagram</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div [innerHTML]="svg | trustHtml"></div>
            </mat-card-content>
            <mat-card-actions>

            </mat-card-actions>
        </mat-card>
    </ng-container>
</div>