div.right {
  position: relative;
  float: right;
  margin-right: 45%;
}
@media screen and (min-width: 1400px) and (max-width:1900px) {
    div.right {
      position: relative;
      float: right;
      margin-right: 25%;
    }
  }
  
@media (max-width: 1400px) {
  div.right {
    position: relative;
    float: right;
    margin-right: 5%;
  }
}
