@import "@angular/material/prebuilt-themes/indigo-pink.css";

.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar {
  background-color: #009edc75;
}
.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary{
  color: #009ddc;
}
.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {
  background-color: #009ddc;
}

/* You can add global styles to this file, and also import other style files */
$font-stack: Tahoma;
$primary-color: #009ddc;
$secondary-color: #ffffff;
$tertiary-color: #fbfb77;
$quaternary-color: #3a3a3a;
$text-color: #000000;
@keyframes dash {
  to {
    stroke-dashoffset: -20;
  }
}
@keyframes draw {
  from {
    stroke-dashoffset: 3000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
:root {
  --font-stack: Tahoma;
  --primary-color: #a80036;
  --secondary-color: #fefece;
  --tertiary-color: #fbfb77;
  --quaternary-color: #3a3a3a;
  --text-color: #000000;
  --line-color: #a80036;
  --participant-stroke-width: 1.5;
  --border-thickness: 1;
  --label-border-color: #a80036;
  --label-background-color: #fefece;
  --label-text-color: #000000;
}
svg g ellipse,
svg g circle,
svg g rect {
  stroke: var(--primary-color);
  stroke-width: var(--participant-stroke-width);
  /* fill: url(#image); */
  fill: var(--secondary-color);
  stroke-dasharray: 3000;
  animation: draw 3s linear;
}

svg g path {
  fill: var(--tertiary-color);
  stroke: var(--quaternary-color);
  stroke-width: 1.5;
  stroke-dasharray: 3000;
  animation: draw 3s linear;
}

svg g polygon {
  fill: var(--line-color);
  stroke-dasharray: 3000;
  animation: draw 3s linear;
}

svg g line,
svg g polyline {
  stroke: var(--line-color);
  stroke-width: var(--border-thickness);
  stroke-dasharray: 3000;
  animation: draw 3s linear;
}

svg g text {
  fill: var(--text-color);
  font-family: var(--font-stack), "Tahoma";
  font-size: 14;
}

svg g line.dashed {
  stroke-dasharray: 5, 5;
  animation: dash 1s infinite;
}

svg g line.dotted {
  stroke-dasharray: 2, 2;
  animation: dash 1s infinite;
}

svg g line.skipped {
  stroke-dasharray: 1, 4;
  animation: dash 1s infinite;
}

svg g line.labelDivider {
  stroke-width: 2px;
}

svg g .label {
  stroke: var(--label-border-color);
  fill: var(--label-background-color);
}
svg g .labelText {
  fill: var(--label-text-color);
}

svg g path.actor {
  stroke: var(--primary-color);
  stroke-width: 2;
}

svg g path.note {
  stroke: var(--quaternary-color);
  fill: var(--tertiary-color);
  stroke-width: 1;
  font-size: 12;
}

svg g .transparent {
  fill: none;
}

svg g path.database {
  fill: var(--secondary-color);
  stroke: var(--primary-color);
  stroke-width: 1.5px;
}
