/* You can add global styles to this file, and also import other style files */
$font-stack: Tahoma;
$primary-color: #009ddc;
$secondary-color: #ffffff;
$tertiary-color: #fbfb77;
$quaternary-color: #3a3a3a;
$text-color: #000000;

:root {
  --font-stack: Tahoma;
  --primary-color: #A80036;
  --secondary-color: #FEFECE;
  --tertiary-color: #fbfb77;
  --quaternary-color: #3a3a3a;
  --text-color: #000000;
}
svg g ellipse,
svg g circle,
svg g rect {
  stroke: var(--primary-color) ;
  stroke-width: 1.5px ;
  /* fill: url(#image); */
  fill: var(--secondary-color) ;
}

svg g path {
  fill: var(--tertiary-color);
  stroke: var(--quaternary-color);
  stroke-width: 1.5;
}

svg g polygon {
  fill: var(--primary-color);
}

svg g line,
svg g polyline {
  stroke: var(--primary-color);
  stroke-width: 1px;
}

svg g text {
  fill: var(--text-color);
  font-family: var(--font-stack);
  font-size: 14;
}

svg g line.dashed {
  stroke-dasharray: 5, 5;
}

svg g line.dotted {
  stroke-dasharray: 2, 2;
}

svg g line.skipped {
  stroke-dasharray: 1, 4;
}

svg g path.actor {
  stroke: var(--primary-color);
  stroke-width: 2;
}

svg g path.note {
  stroke: var(--quaternary-color);
  fill: var(--tertiary-color);
  stroke-width: 1;
}

svg g .transparent {
  fill: none;
}

svg g path.database {
  fill: var(--secondary-color);
  stroke: var(--primary-color);
  stroke-width: 1.5px;
}


